@use 'base/variables' as v;

.otros-proyectos {
    background-color: v.$azul-oscuro;
    color: v.$blanco;
    padding: 0 0;
    text-align: center;
    border-radius: 2rem;
}

section .titulo-otros-proyectos {
    font-size: 2.2rem;
    font-weight: v.$bold;
    padding: 2rem;
}

.mensaje-otros-proyectos {
    padding-bottom: 4rem;
    padding: 2rem;
}