// Fuentes
$fuente_principal: 'Poppins', sans-serif;
$fuente_secundaria: 'Lato', sans-serif;

// Tamaño de Media Queries
$telefono: 576px;
$tablet: 992px;
$desktop: 1200px;

// Colores
$azul: #0da6f3;
$rojo: #a30000;
$verde:#329f00;
$negro: #1a1a1a;
$negro-hover: #333;
$azul-oscuro: #12307D;
$azul-claro: #f4f6f9;
$amarillo: #f6c453;

$blanco: #FFF;
$gris: #666;
$oro:#c39d67; 

$fondo_claro: #f8f5ee;

$separacion: 5rem;

// Fuentes
$regular : 400;
$bold: 700;