@use 'base/variables' as v;
@use 'base/mixins' as m;

.m1-experimento-seccion {
    background: #fdfdfd; 
    padding: 4rem; 
    border: 0.2rem solid #e0e0e0; 
    border-radius: 1.5rem; 
    margin: 4rem 0;
}

.m1-experimento-titulo {
    font-weight: v.$bold;
    margin-bottom: 3rem;
    color: v.$azul-oscuro;
}