@use "base/variables" as v;
@use "base/mixins" as m;

.m7-textarea {
   display: block;
   width: 100%;
   padding: 1rem;
}

.feedback-pregunta {
   color: v.$verde;
   font-weight: 700;
   margin-top: 1rem;
   display: none;
}
